.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.875rem;
}

.text-gray {
  color: var(--light-gray);
}

.text-accent {
  color: var(--accent);
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}

.group-row {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 980px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
