html {
  font-size: 16px;
}

body {
  background-color: var(--primary);
  color: var(--white);
}

body::before,
body::after {
  display: none;
  content: '';
  position: fixed;
  width: 24px;
  height: 70vh;
  background-color: var(--accent);
  bottom: 50%;
  transform: translateY(50%);
}

body::before {
  left: 0;
  clip-path: var(--trapezoid-right);
}
body::after {
  right: 0;
  clip-path: var(--trapezoid-left);
}

.skip-to-content {
  position: fixed;
  display: inline-block;
  z-index: 10;
  left: 50px;
  top: -50px;
  padding: 12px 26px;
  clip-path: var(--trapezoid-bottom);
  background-color: var(--accent);
  color: var(--primary);
  transition: 300ms;
}

.skip-to-content:focus {
  top: 0;
}
/* 
.go-to-top {
  --size: 44px;

  position: fixed;
  z-index: 9;
  bottom: 2rem;
  right: 2rem;
  display: grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
  background-color: var(--accent);
  font-weight: var(--fw-bold);
  clip: var(--trapezoid-bottom);
} */

.line {
  display: none;
  position: fixed;
  z-index: -1;
  width: 1400px;
  right: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(50%);
}

.line__group {
  position: absolute;
  height: 100vh;
  width: 1px;
  background-color: var(--secondary);
}

.line__left {
  left: 0;
}

.line__right {
  right: 0;
}

.line__dot {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 20px;
  height: 22px;
  clip-path: var(--hexagon);
  background-color: var(--accent);
}

.line__left > .line__dot {
  top: 150px;
}

.line__right > .line__dot {
  bottom: 150px;
}

@media screen and (min-width: 1400px) {
  body::before,
  body::after {
    display: block;
  }
}

@media screen and (min-width: 1560px) {
  .line {
    display: block;
  }
}

/*  */

@media screen and (min-width: 440px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
