.cards {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 28px;
}

.card {
  border: 1px solid var(--accent-dark);
  border-radius: 1rem;
  overflow: hidden;
}

.card__image {
  position: relative;
}

.card__image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card__image::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, var(--primary), #030f2200);
}

.card__detail {
  padding: 8px 16px 16px;
}

.card__title {
  margin-bottom: 16px;
}

.card__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
}

@media screen and (min-width: 800px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: stretch;
  }

  .card__image img {
    height: 100%;
  }

  .card__image::after {
    background: linear-gradient(to left, var(--primary), #030f2200);
  }
}

@media screen and (min-width: 1000px) {
  .card {
    display: flex;
  }

  .card__image img {
    width: 200px;
    height: 100%;
  }

  .card__image::after {
    display: none;
  }

  .card__title {
    width: 175px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    row-gap: 4px;
  }

  .card__detail {
    height: 100px;
    padding: 12px 32px 12px 24px;
    display: flex;
    width: 100%;
    column-gap: 24px;
  }

  .card__info {
    flex: 1;
    display: flex;
    justify-content: right;
    column-gap: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .card__info {
    column-gap: 50px;
  }

  .card__title {
    width: 300px;
  }
}
